/* Navbar */

.xcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  position: fixed;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .xcontainer {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .xcontainer {
    font-size: 6px;
    font-weight: 400;
  }

  .logo {
    size: 14px;
  }
}

.logo {

color: #FFFFFF;
  padding: 24px;
  color: white;
  font-size: 48px;
  font-weight: bolder;
  display: -ms-grid;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 480px) and (min-width: 100px) {
  .logo {
    font-size: 14px;
  }
}

.links {
  padding: 20px;
  display: flex;
  flex-direction: row;
  letter-spacing: 1.7px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5rem;

}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .links {
    color: white;
    font-size: 8px;
  }
}

.items{
  margin-left: auto;

}

.links div{
  flex: auto;
  padding: 2.8rem;
  text-align: center;
}
/* Ends */


main {
  margin-top: 10rem;
  padding: 2rem;
  display: block;
  height: 100vh;
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  main {
    margin-top: 6rem;
    font-size: 14px;
  }
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #00e0ff;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.body {
  padding: 0;
  border: 0;
  background-color: #121426;
  color: white;
  font-family: "Open Sans";
  margin: 0;
  height: 100vh;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.green-highlight,
.pink-highlight,
.yellow-highlight {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 3px;
}

.green-highlight {
  background: #99ffcc; /* Default color, all browsers */
}

.green-highlight::selection {
  background: #99cccc; /* Selection color, WebKit/Blink Browsers */
}

.green-highlight::-moz-selection {
  background: #99cccc; /* Selection color, Gecko Browsers */
}

.pink-highlight {
  background: #ffccff; /* Default color, all browsers */
}

.pink-highlight::selection {
  background: #ff99ff; /* Selection color, WebKit/Blink Browsers */
}

.pink-highlight::-moz-selection {
  background: #ff99ff; /* Selection color, Gecko Browsers */
}

.yellow-highlight {
  background: #ffffcc; /* Default color, all browsers */
}

.yellow-highlight::selection {
  background: #ffff66; /* Selection color, WebKit/Blink Browsers */
}

.yellow-highlight::-moz-selection {
  background: #ffff66; /* Selection color, Gecko Browsers */
}

a {
  text-decoration: none;
  
}

.hero {
  font-family: "Vampiro One", cursive;
  font-size: 3.5rem;
}
:root {
  --mainColor: #ff9800;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #00e0ff;
}
