/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #00e0ff;
}
/* Scrollbar */

/* Hero Section */

.hero {
  height: 100vh;
}
.heroimg {
  width: 100%;
  max-width: 1150px;
  left: 114px;
  top: 220px;
  align-content: left;
}
@media screen and (max-width: 480px) and (min-width: 100px) {
  .heroimg {
    margin-left: 0%;
  }
}

.contactimg {
  position: relative;
  width: 100%;
  max-width: 202.5px;
  left: 10%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

/* Hero Section */

/* About */
.aboutpara {
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
}

.second {
  padding-left: 1.5%;
  color: #00e0ff;
}

.cards {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1186px;
  display: block;
  justify-content: center;
  align-items: center;
}

.page {
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  
}
/* About */

/* Bottom */

.toolsimg {
  width: 100%;
  max-width: 389px;
  justify-content: center;
  align-items: center;

}
.left {
  float: left;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  letter-spacing: 10px;
  font-size: 18px;
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .left {
  font-size: 14px;
  }
}

.right {
  margin-left: 20%;
  float: right;
  justify-content: center;
  align-items: center;
}
.wrap {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page h2 {
  position: absolute;
  font-size: 42px;
  font-weight: 300;
  top: -24px;
}

.vl {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  height:300px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.footer {
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  color: whitesmoke;
}

.aalink{
  color:FAFF00;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
}
.aalink:hover{
  color: #00E0FF;
  text-decoration: none;
}

.date{
  color: rgb(161, 161, 161);
}