/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #00e0ff;
}
/* Scrollbar */

/* Hero Section */

.heroimg {
  width: 100%;
  max-width: 1150px;
  left: 114px;
  top: 220px;
  align-content: left;
}
@media screen and (max-width: 480px) and (min-width: 100px) {
  .heroimg {
    margin-left: 0%;
  }
}

.contactimg {
  position: relative;
  left: 10%;
  display: flex;
  flex-direction: row;  
}

/* Hero Section */

/* About */
.aboutpara {
  display: flex;
  flex-direction: row;
  letter-spacing: 2px;
}

.second {
  padding-left: 1.5%;
  color: #00e0ff;
}

.cards {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1186px;
  display: block;
  justify-content: center;
  align-items: center;
}

.page {
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
}
/* About */

/* Bottom */

.toolsimg {
  width: 100%;
  max-width: 389px;
  justify-content: center;
  align-items: center;
}
.left {
  float: left;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  letter-spacing: 10px;
  font-size: 18px;
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .left {
    font-size: 14px;
  }
}

.right {
  margin-left: 20%;
  float: right;
  justify-content: center;
  align-items: center;
}
.wrap {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page h2 {
  position: absolute;
  font-size: 42px;
  font-weight: 300;
  top: -24px;
}

.vl {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.footer {
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  color: whitesmoke;
}

.aalink {
  color: FAFF00;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
}
.aalink:hover {
  color: #00e0ff;
  text-decoration: none;
}

.date {
  color: rgb(161, 161, 161);
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/*footer*/
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #010416;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
