{% extends "FrontEnd/base.html" %}
{% block content %}

        <div class="container">          
            <h1>Covid-19 Dashboard</h1>
            <hr>
        </div>
        <div>
            <div class="col-lg-3" style="float: left;  max-height: 650px;max-width:400px;overflow: scroll; overflow-x:hidden;">
                <div style="background-color: rgb(41, 41, 40);">
                    
                    <span style="color: rgb(255, 255, 255); text-align: center;"><h2>Total Infected: {{overallCount}}</h2></span>
                </div>
                <div class="col-lg-12">
                    <form method="post" enctype="multipart/form-data" action="selectCountry">
                    {% csrf_token %}
                    <div class="col-lg-4" style="float: left;">
                        {% for con in contryNames %}
                        <table style="border-width: 2px; border: #333;">
                        <tr>
                            <input type="submit" value={{con}} name="countryName" style="width:100px;">
                        </tr>
                    </table>
                        {% endfor %}
                    </div>
                    <div style="float: left;"> 
                        <canvas id="myChart" style="height: 6650px; width: 280px;"></canvas>
                    </div>
                    </form>
                    

                </div>
            </div>
            <div class="col-lg-6" style="float: left;">
                <br>
                <br> 
                <h2 style="text-align: center;">Analysis on {{countryName}}</h2><br>
                    <canvas id="lineChart" style="height: 450px;"></canvas>
            </div>
            <div class="col-lg-3" style="float: left;max-width: 300px;  max-height: 650px;overflow: scroll; overflow-x:hidden;">
                
            </div>
            </div>

        </div>
        <br>
   
            
        {% endblock %}

