{% extends "FrontEnd/base.html" %} {% block content %}
<div class="container"><h6 class="date">{{todaydate}}, IST</h6></div>

<section class="covid_heading">
  <div class="container">
    <h1>Top 10 Countries worst hit by Covid-19</h1>
    <hr />
    <canvas id="myChart" width="400" height="140"></canvas>
  </div>
</section>

<br /><br />
<div class="container">
  <h1>Total new cases in the above ten Countries, Today!</h1>
  <hr />
  <ul>
    {% for daily in DailyConfirmed %} {% if daily < 0 %}
    <li>Waiting for source to load Data for today's ODATE!</li>
    {% else %}
    <li>+ {{daily}}</li>
    {% endif %} {% endfor %}
  </ul>
</div>

<script>
  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "horizontalBar",
    data: {
      labels: [
        "US",
        "India",
        "Brazil",
        "Russia",
        "Argentina",
        "Colombia",
        "Spain",
        "Peru",
        "Mexico",
        "France",
      ],
      datasets: [
        {
          label: ["Total Infected Cases"],
          barThickness: 2,
          maxBarThickness: 4,
          data: [
            8154594,
            7550273,
            5224362,
            1390824,
            989680,
            959572,
            936560,
            865549,
            851227,
            843471,
          ],
          backgroundColor: [
            "red",
            "#CCFF66",
            "#5D2E8C",
            "#2EC4B6",
            "#D30C7B",
            "#512500",
            "#DD4B1A",
            "#2B9EB3",
            "#E71D36",
            "#E28413",
          ],
          
          borderWidth: 1.2,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });
</script>

<br />

{% endblock %}
