{% extends "FrontEnd/base.html" %} {% block content %}
<section class="hero">
  <h1 class="hero">Welcome to Cogent</h1>
</section>
<br />
<br />
<section>
  <h6>
    Here at Cogent we <span style="font-size: 20px">&#128147;</span> Data. We
    can analyze and as well help clients visualize their boring data. We can
    help people decide where to invest their money with our smart Data Analysis
    tools.
  </h6>

  <h6>
    Whichever industry you work in, or whatever your interests, you will almost
    certainly have come across a story about how “data” is changing the face of
    our world. It might be part of a study helping to cure a disease, boost a
    company’s revenue, make a building more efficient or be responsible for
    those targeted ads you keep seeing. In general, data is simply another word
    for information. But in computing and business (most of what you read about
    in the news when it comes to data – especially if it’s about Big Data), data
    refers to information that is machine-readable as opposed to human-readable.
  </h6>
  <h6>
    Today, gathering data to help you better understand your customers and
    business is relatively easy. In fact, it’s become so easy there’s the danger
    of having too much data to deal with. In a recent article, data and
    analytics guru Bernard Marr said: “While the average small business has less
    self-generated data than big players. . .this doesn’t mean big data is off
    limits. In fact, in many ways, big data is more suited to small businesses,
    because they’re generally more agile and able to act more quickly on
    data-driven insights.” A Forbes article discussing a survey from Deloitte,
    notes that “49 percent of respondents said analytics helps them make better
    decisions, 16 percent say that it better enables key strategic initiatives,
    and 10 percent say it helps them improve relationships with both customers
    and business partners.” But to take full advantage of data and analytics,
    you need to know how to get the most value from your data.
  </h6>
</section>
<br /><br /><br /><br />
<section id="about">
  <div class="hero" align="center">
    <h1>About Us</h1>
    <hr />
  </div>
  <br />
  <div class="card-columns">
    <div class="card">
      <img
        src="https://media.giphy.com/media/XbxZ41fWLeRECPsGIJ/giphy.gif"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Clients</h5>
        <p class="card-text">
          Our analysis helps our clients make decision and makes them as happy
          and satisfied as the kid in the gif
        </p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>'Without data, you’re just another person with an opinion'.</p>
        <footer class="blockquote-footer">
          <small class="text-muted"> W. Edwards Deming </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img
        src="https://media.giphy.com/media/FXGoDrsgrNLj2/giphy.gif"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Our Enginners</h5>
        <p class="card-text">
          Meanwhile our Engineers may want to kill themselves but thats okay! We
          gave them cocaine. Just kidding😂, We gave them hope. 
        </p>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>
          “Without big data, you are blind and deaf and in the middle of a
          freeway.
        </p>
        <footer class="blockquote-footer text-white">
          <small> Geoffrey Moore </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Technology</h5>
        <p class="card-text">
          We use industry leading tech stack and always keep updated with
          standards, So that we can move on with our Data fast.
        </p>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>
          “If we have data, let’s look at data. If all we have are opinions,
          let’s go with mine.”
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted"> Jim Barksdale </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Fast and Secure</h5>
        <p class="card-text">
          We analyze the data in the most secure and efficent way which gives us
          a time boost than any other products on the market.
        </p>
        <p class="card-text"></p> 
      </div>
    </div>
  </div>
  <p>
    Data analysis is defined as a process of cleaning, transforming, and
    modeling data to discover useful information for business decision-making.
    The purpose of Data Analysis is to extract useful information from data and
    taking the decision based upon the data analysis. Whenever we take any
    decision in our day-to-day life is by thinking about what happened last time
    or what will happen by choosing that particular decision. This is nothing
    but analyzing our past or future and making decisions based on it. For that,
    we gather memories of our past or dreams of our future. So that is nothing
    but data analysis. Now same thing analyst does for business purposes, is
    called Data Analysis.
  </p>
  <p>
    Types of Data Analysis: Techniques and Methods There are several types of
    Data Analysis techniques that exist based on business and technology.
    However, the major types of data analysis are:
  </p>
  <ul>
    <li>Text Analysis</li>
    <li>Statistical Analysis</li>
    <li>Diagnostic Analysis</li>
    <li>Predictive Analysis</li>
    <li>Prescriptive Analysis</li>
  </ul>

  <p> And we deliver on all of these. Just one and only point of contact for all your Data related issues/doubts. Just Cogent It! </p>
</section>

<br /><br /><br /><br />
<section id="contact">
  <div class="hero" align="center">
    <h1>Contact Us</h1>
    <hr />
  </div>
  <br />
  <h4>Drop me an e-mail today at :</h4>
  <small>choudhuryabhishek76@gmail.com</small>
  <br />
  <br />
</section>
<br /><br /><br /><br />
{% endblock %}
