{% extends "FrontEnd/base.html" %} {% block content %} {% load static %}
<section id="hero">
  <div class="herodiv">
    {% load static %}
    <img
      class="heroimg"
      src="{% static 'FrontEnd/images/svg/herotitle.svg' %}"
    />
  </div>
  <div class="contact">
    <a href="https://www.linkedin.com/in/yesabhishek/"
      ><img
        class="contactimg"
        src="{% static 'FrontEnd/images/svg/contact.svg' %}"
    /></a>
  </div>
</section>
<br /> <br /> <br /> <br /> <br /> <br />
<section>
  <div class="page container">
    <div class="wrap">
      <h1>About</h1>
      <br />
      <div class="aboutpara">
        <p class="first">What we actually do with the Data?</p>
        <p class="second">Well, below are the steps in brief.</p>
      </div>
      <br />
      <img class="cards" src="{% static 'FrontEnd/images/svg/cards.svg' %}" />
    </div>
  </div>
</section>

<div class="page container">
  <div class="left">
    <h3>Data VISUALIZATION</h3>
    <br />
    <h3>Data ANALYTICS</h3>
  </div>
  <div class="vl"></div>
  <div class="right">
    <img class="toolsimg" src="{% static 'FrontEnd/images/svg/tools.svg' %}" />
  </div>
</div>

<div class="footer">
  <img src="{% static 'FrontEnd/images/svg/footer.svg' %}" />
</div>
<script>
  var rellax = new Rellax(".rellax");
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
  integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ=="
  crossorigin="anonymous"
></script>
{% endblock %}
