{% extends "FrontEnd/base.html" %} 
{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Shows</div>
                <div class="h1 mb-0 font-weight-bold text-gray-800">39k</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-play-circle fa-3x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Duration</div>
                <div class="h1 mb-0 font-weight-bold text-gray-800">39 million hours</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clock fa-3x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Net worth</div>
                <div class="h1 mb-0 font-weight-bold text-gray-800">2.761 billion</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-3x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Stock price</div>
                <div class="h1 mb-0 font-weight-bold text-gray-800">533.98 USD <small>+0.44 (0.082%)today</small></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-arrow-up fa-3x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2><strong>Growth</strong></h2>
    <br>
    <div class="card" style="background-color: rgba(4, 14, 70, 0.699); padding: 4rem 4rem">
      <canvas id="myChart" width="600" height="180"></canvas>
    </div>
  </div>

  <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: ["2015", "2016", "2017", "2018", "2019"],
        datasets: [
          {
            label: "Growth per Year",
            data: [27.4, 41.2, 57.8, 80.8, 106.8],
            backgroundColor: ["#eeea00"],
            defaultFontColor: 'white',
            borderColor: ["#eeea00"],
            borderWidth: 2.5,
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
  </script>
</section>

<section>
  <div class="container">
    <h2><strong>Usage</strong></h2>
    <br>
    <div class="card" style="background-color: rgba(4, 14, 70, 0.699); padding: 4rem 4rem">
      <canvas id="frequency" width="400" height="180"></canvas>
    </div>
  </div>

  <script>
    var ctx = document.getElementById("frequency");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: [
          "A few times a week",
          "A few times a month	",
          "A few times a year	",
          "I dont use this service",
          "I dont use this service yet, but I am planning",
        ],
        datasets: [
          {
            label: "Frequency",
            data: [46, 26, 14, 11, 13],
            backgroundColor: [
              "red",
              "green",
              "white",
              "orange",
              "cyan",
            ],
            borderWidth: 1.5,
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
  </script>
</section>

<section>
  <div class="container">
    <h2><strong>Netflix Vs Other Streaming Sites</strong></h2>
    <br />
    <div class="card" style="background-color: rgba(4, 14, 70, 0.699); padding: 4rem 4rem">
    <canvas id="netlixvs" width="400" height="180"></canvas>
    </div>
    <br />
  </div>

  <script>
    var ctx = document.getElementById("netlixvs");
    var myChart = new Chart(ctx, {
      type: "doughnut",
      data: {
        labels: ["Youtube", "Netflix", "Amazon Prime", "Hulu", "HBO Now"],
        datasets: [
          {
            label: "market Share",
            data: [192.0, 147.5, 88.7, 55.0, 17.1],
            backgroundColor: [
              "green",
              "cyan",
              "orange",
              "blue",
              "red",
            ],
            borderWidth: 1.5,
          },
        ],
      },
      options: {},
    });
  </script>
  </section>
  <section>
    <div class="container">
      <h2><strong>Viewership</strong></h2>
      <br />
      <div class="card" style="background-color: rgba(4, 14, 70, 0.699); padding: 4rem 4rem">
        <canvas id="vship" width="400" height="180"></canvas>
      </div>
    </div>
    <script>
      var ctx = document.getElementById("vship");
      var myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: [
            "18-24 Years",
            "25-34 Years",
            "35-44 Years",
            "45-54 Years",
            "55-64 Years",
            "65+ Years",
          ],
          datasets: [
            {
              label: "Viewership in percentage  ",
              data: [12, 18, 18, 19, 16, 17],
              backgroundColor: [
                "orange",
                "yellow",
                "blue",
                "white",
                "cyan",
                "green",
              ],
              borderWidth: 1.5,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    </script>
  </section>
  <section>
      <div class="container">
        <h2><strong> Program Report 📺</strong></h2>
        <hr />
        <small>Coming Soon!</small>
        <br />
        <div class="card-deck">
          <div class="card directors">
            <div class="card-body">
              <a class="card-title aalink" href="#">2008</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body directors">
              <a class="card-title aalink" href="#">2009</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body directors">
              <a class="card-title aalink" href="#">2010</a>
            </div>
          </div>
        </div>
        <br />
        <div class="card-deck">
          <div class="card directors">
            <div class="card-body">
              <a class="card-title aalink" href="#">2011</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body directors">
              <a class="card-title aalink" href="#">2012</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body directors">
              <a class="card-title aalink" href="#">2013</a>
            </div>
          </div>
        </div>
        <br />
        <div class="card-deck">
          <div class="card directors">
            <div class="card-body">
              <a class="card-title aalink" href="#">2014</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body directors">
              <a class="card-title aalink" href="#">2015</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body directors">
              <a class="card-title aalink" href="#">2016</a>
            </div>
          </div>
        </div>
        <br />
        <div class="card-deck">
          <div class="card directors">
            <div class="card-body">
              <a class="card-title aalink" href="#">2017</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body directors">
              <a class="card-title aalink" href="#">2018</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body directors">
              <a class="card-title aalink" href="#">2019</a>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
